*{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.divPai{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.returnButton{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.returnButton a{
    border: 2px solid black;
    padding: 0.2rem 1rem;
    text-decoration: none;
    color: black;
}

.returnButton a:hover{
    background-color: #2874a6;
    color: white;
    transition: 0.3s;
}

.form{
    text-align: center;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.form input{
    padding: 1rem;
}

.form input:hover{
    background-color: #2874a6;
    transition: 0.3s;
}

.form input:focus{
    background-color: #2874a6;
    transition: 0.3s;
}